*,
*::after,
*::before {
  box-sizing: border-box;
}

/* body */

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid seashell;
  background-color: black;
}

img {
  display: inline;
  height: 50px;
  width: auto;
  margin-left: 10px;
}

li {
  display: inline-block;
  list-style-type: none;
  margin-right: 10px;
}

a {
  color: seashell;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

/* main */
.cover-img {
  height: 700px;
  margin: 69px 50px 0;
  background-image: url(../Images/img-mission-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-text {
  width: 100%;
  margin: 0;
  background-color: black;
}

h2,
h4 {
  margin: 1rem 0;
}

.featured-tea {
  margin-top: 3rem;
}

.featured-img div {
  display: inline-block;
  margin: 0 10px;
}

.featured-img img {
  height: 200px;
  width: 300px;
  margin: 0;
}

/* footer */

#locations {
  background-image: url(../Images/img-locations-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 50px 0;
  height: 500px;
}

.address {
  display: flex;
  gap: 40px;
}

#locations div {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  opacity: 1;
  background-color: black;
}

/* contact */
.contact div {
  height: 200px;
}

.contact .copyright {
  text-align: left;
  margin-left: 20px;
}
